# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# VScode repo config
.vscode/

# Claude
**/.claude/settings.local.json
**/.claude/worktrees/


# APM dependencies
apm_modules/
