kubectl 1.31.3
nodejs 20.18.3
terraform 1.11.0
golang 1.24.0
kustomize 4.5.7
helm 3.17.1
yarn 1.22.4
java semeru-openj9-17.0.9+9_openj9-0.41.0 temurin-11.0.21+9
sbt 1.10.7
yq 4.45.1
tflint 0.55.1
tfsec 1.28.13
kubeval v0.16.1
argocd 2.7.6
#pluto 4.0.4
kind 0.27.0
skaffold 1.16.0
#tilt 0.17.10
#gcloud 447.0.0
#ytt 0.30.0
github-cli 2.67.0
vault 1.15.2
#k3d 4.0.0
postgres 13.4
scala 2.13.16
shellcheck 0.10.0
jq system
#etcd v3.4.18
vcluster 0.12.0
python system
asdf-plugin-manager 1.4.0
promtool v2.47.0
mimirtool 2.15.0
amtool v0.27.0
clusterctl 1.3.3
gcloud system
maven system
